/* .my-nav{
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 1px 1px 2px 3px rgba(91, 91, 91, 0.2);
  ul{
    font-size: 20px;
  }
} */

.acc-img{
width: 30px;
height: 30px;
}
.signIn{
display: flex;
align-items: center;
column-gap: 5px;
}

.my-container-margin{
    /* margin-top: 10px; */
}