body{
    background-color: rgb(199, 99, 0);
    color: wheat;
}

.customButton{
    width: 100%;
    background-color:rgb(12, 233, 12);
  color: white;
  border-radius: 8px;
  padding: 16px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #171817;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(19, 210, 15, 0.5);
  }
}