*{
  margin: 0;
  padding: 0;
}
.NavFooterContainer{
  width: 95%;
  margin: auto;
  height: 100%;
}
body{
  position: relative;
}


.logo{
width: 90px;
height: 90px;
}
.logo:hover{
transform:scale(1.05);
transition: 0.3s ease-in-out;
}
.my-nav{
  /* box-shadow: 1px 1px 2px 3px rgba(72, 72, 72, 0.082); */
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-left: 20px;
  padding-right: 10px;
  z-index: 5;
  ul{
    font-size: 20px;
  }
  .navbar-text{
    display: flex;
    column-gap: 10px;
    .theme-btn{
      padding: 5px;
      font-size: 12px;
      font-weight: 500;
      border-radius: 5px;
    }
  }
}
.my-view{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 1px 1px 2px 2px rgba(27, 27, 27, 0.075);
    background-color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    
    z-index: 11;
    a{
        text-decoration: none;
        color: black;
    }
}
.bannerContainer{
  margin-top: 100px;
  height:390.08px ;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.banner{
  width: 100%;
  position: relative;
  top: -157px;
    
    
}   



.footer{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  background-color: rgb(210, 210, 210);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;

.footerTop{
  display: flex;
  justify-content: space-around;
  .linkBox{
    
    
    .footerLogo{
      width: 100px;
      height: 100px;
      }
    li{
      list-style: none;
      margin-bottom: 15px;
      a{
        color: black;
        text-decoration: none;
      }
    }
    
  }
  
}
.footerBottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .follow-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    p{
      margin-bottom: 0px;
    }
  }
}
.socialsLink{
  display: flex;
  .sImage{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(106, 105, 105, 0.489);
  padding: 5px;
  margin: 2px;
  }
}
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.PageContainer{
  width: 80%;
  margin: auto;
  height: 100%;
  
}
.MapContainer{
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  
}
.ViewContainer{
  width: 90%;
  margin: auto;
  height: 100%;
  
}
.menu-container{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
}
.horizontalHeading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* column-gap: 20px; */
    margin-top: 40px;
    margin-bottom: 40px;
    /* hr{
        height: 2px;
        width: auto;
        min-width: 35%;
        background-color: rgba(0, 0, 0, 0.07);
        border: none;
    } */
    h1{
      border: 2px solid rgb(0, 0, 0);
      padding: 10px;
      font-size: 24px;
      /* border-radius: 10px; */
      color: rgb(18, 18, 18);
      background-color: white;
    }
}
.red{
  color: red;
}


/* CARD STYLING */
.card{
    box-shadow: 1px 1px 4px 1.5px rgba(152, 152, 152, 0.338);
    border: none;
    background-color: white;
    border-radius: 5px;
    height: 320px;
    width: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    
    img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        margin-bottom: 15px;
        
    }
    img:hover{
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }
    h3{
        font-size: 15px;
    }
    P{
        margin-top: 20px;
    }
    button{
        width: fit-content;
        align-self: center;
        padding: 10px;
        font-size: 17px;
        border-radius: 30px;
        border: none;
        background-color: red;
        width: 80px;
        margin: 10px;
        
        color: white;
    }
    button:hover{
        background-color: rgb(189, 3, 3);
        box-shadow: 1px 1px 4px 1.5px rgba(129, 129, 129, 0.367);
        transition: 0.3s ease-in-out;
        transform: scale(1.05);
        cursor: pointer;
    }
    button:active{
        background-color: rgb(255, 57, 57);
    }
}

.foodBox{
    display: flex;
    justify-content: space-between;
    /* overflow: -moz-hidden-unscrollable; */
    column-gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 5px;
}
.miniCard{
    height: 200px;
    width: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    img{
        box-shadow: 1px 2px 6px 1px rgba(129, 129, 129, 0.367);
        width: 100%;
        margin-bottom: 15px;
        
    }
    img:hover{
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }
    h3{
        font-size: 15px;
    }
}
.MenuBox{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
    padding: 5px;
}
/* END */

/* LOGIN PAGE */
.LoginBox{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  /* padding-bottom: 100px; */
  height: 100vh;
  .formArrange{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
    box-shadow: 1px 2px 6px 1px rgba(129, 129, 129, 0.367);
    width: auto;
    min-width: 400px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    h1{
      text-align: center;
        font-size: 19px;
      }
    fieldset{
      display: flex;
      flex-direction: column;
      border: none;
      label{
        font-weight: 500;
      }
      input{
        padding:10px;
        padding-left: 20px;
        width: auto;
        outline: 3px rgb(76, 75, 75);
        border: 2px solid rgb(89, 89, 89);
        border-radius: 5px;
        margin-top:10px;
        margin-bottom:10px;
      }
      p{
        font-weight: 500;
        margin-bottom: 30px;
        text-align: center;
        span{
          color: red;
        }
      }
      .errorMsg{
        margin: 0;
        color: red;
      }
      button{
        width: 200px;
        justify-self: center;
        align-self: center;
        padding: 10px;
        border-radius: 25px;
        border: 1px solid grey;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 10px;
        background-color: red;
        color: white;
      }
      button:hover{
        background-color: rgb(200, 1, 1);
      }
      button:active{
        background-color: rgb(255, 16, 16);
      }
    }
  }
}
/* END */

.scroll-view-repost{
  padding-top: 200px;
}

/* STORE LOCATION */

  .direction{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: hidden;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 5px;
    .findBranch{
      font-size: 20px;
    }
    
    .addressInput{
      padding: 12px;
      padding-left: 20px;
      border: 1px solid grey;
      border-radius: 5px;
      
    }
    .addressInput::placeholder{
      color: rgb(149, 149, 149);
      font-size: 14px;
      font-weight: 600;
    }
  }

.directionRow{
      display: flex;
      justify-content: space-evenly;
      row-gap: 20px;
      flex-wrap: wrap;
  }
.directionCard{
  box-shadow: 1px 1px 4px 1.5px rgba(129, 129, 129, 0.367);
  border-radius: 5px;
  height: auto;
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* text-align: center; */
  overflow: hidden;
.locationRow{
  display: flex;
  column-gap: 10px;
  align-items: center;

  h1,h3,h2,p{
    margin: 0;
  }
  img{
    width: 25px;
    height: 25px;
  }
  h1{
    font-size: 20px;
    font-weight: 600;
    
  }
  h3{
    font-size: 16px;
    font-weight: 600;
  }
}
h2{
  font-size: 15px;
  font-weight: 400;
  color: grey;
}
p{
  font-weight: 500;
  color: rgb(177, 177, 177);
}
.BMbutton{
  padding: 10px;
  font-size: 17px;
  font-weight: bolder;
  border-radius: 25px;
  border: 1px solid grey;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}
a{
  color: grey;
}
}
/* STORE LOCATION END */

/* ABOUT */
.about{
  .aboutContent{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    h1{
      font-size: 27px;
      border-bottom: 3px solid rgb(10, 10, 10);
      padding-bottom: 5px;
      width: fit-content;
    }
    h2{
      font-size: 23px;
      color:rgb(69, 69, 69)
    }
    p{
      font-size: 18px;
    }
  }
}
/* END */

.topMargin-150{
  margin-top: 150px;
}

/* CONTACT US PAGE */
.contactContent{
  display: flex;
  justify-content: center;
  .contactForm{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    width: 670px;
    align-items: center;
    box-shadow: 1px 1px 4px 1.5px rgba(129, 129, 129, 0.367);
    border-radius: 10px;
    background-color: white;
    h1{
      font-size: 24px;
    }
    p{
      text-align: center;
      color: grey;
    }
    fieldset{
      /* align-self: flex-start; */
      display: flex;
      flex-direction: column;
      row-gap: px;
      border: none;
    }
    input{
        padding:10px;
        padding-left: 10px;
        width: 400px;
        outline: none;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 5px;
        margin-top:5px;
        margin-bottom:10px;
        /* background-color: #fdf3e64a; */
      }
      .TA{
        width: auto;
        min-width: 400px;
        max-width: 410px;
        height: auto;
        min-height: 100px;
        scrollbar-width: none;
        border-radius: 5px;
        outline: 3px rgb(76, 75, 75);
        border: 2px solid rgb(0, 0, 0);
        margin-top:5px;
        margin-bottom:10px;
        padding: 10px;
      }
      button{
        width: 200px;
        justify-self: center;
        align-self: center;
        padding: 10px;
        border-radius: 25px;
        border: 1px solid grey;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 10px;
        background-color: red;
        color: white;
      }
      button:hover{
        background-color: rgb(200, 1, 1);
      }
      button:active{
        background-color: rgb(255, 16, 16);
      }
  }
}
/* END */

/* ORDER SECTION */
.ordered-item-box{
  border: 1px solid rgba(202, 202, 202, 0.612);
  border-radius: 10px;
  height: 100vh;
  min-height: 450px;
}
.checkout-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(202, 202, 202, 0.612);
  border-radius: 35px;
  margin-top: 10px;
  padding: 20px;
  font-size: 20px;
  p{
    color: rgb(188, 188, 188);
    margin: 0;
  }
  a{
    color: rgb(188, 188, 188);
    text-decoration: none;
  }
}
.coupon-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
   border: 2px dashed red;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  /* font-size: 17px; */
  input{
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    padding-left: 15px;
  
  }
  input::placeholder{
    color: rgb(200, 200, 200);
    font-size: 14px;
  }
  p{
    color: rgb(188, 188, 188);
    margin: 0;
  }
  a{
    color: rgb(188, 188, 188);
    text-decoration: none;
  }

}
.height-centered{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}








/* SCREEN ADJUSTMENT */
@media screen and (max-width:600px) {
  
  .logo{
    width: 70px;
    height: 70px;
  }

  .signIn{
    column-gap: 2px;
    font-size:13px ;
  }
  .my-nav{
    a{
      font-size: 14px;
    }
    .acc-img{
    width: 15px;
    height: 15px;
  }
  .navbar-toggler-icon{
    width: 20px;
    height: 20px;
  }
  }

  
/* HEADING */
  .horizontalHeading{
    
    margin-top: 30px;
    margin-bottom: 30px;
    /* justify-content: center; */
    h1{
      font-size: 15px;
      font-weight: 700;
    }
    hr{
        width: 0%;
    }
}

/* CARD */
  .card{
    height: 200px;
    width: 180px;
    
    h3{
        font-size: 10px;
        overflow-inline: auto;
    }
    P{
        margin-top: 10px;
        /* margin-bottom: 13px; */
        font-size: 11px;
    }
    button{
        padding: 5px;
        font-size: 11px;
        border-radius: 30px;
        width: 45px;
        margin: 0px;
        position: sticky;
    }
    
}
/* MENU NAV */
  .my-view{
    padding: 10px;
    font-size: 13px;
    a{
      font-size: 13px;
        text-decoration: none;
        color: black;
    }
}
  .MenuBox{
    justify-content: center;

  }

  .miniCard{
    height: 180px;
    width: 185px;
    h3{
        font-size: 13px;
    }
    
}

/* FOOTER */
  .footer{
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 11px;

.footerTop{
  justify-content: space-around;
  .linkBox{
    justify-content: center;
    ul{
      padding-left:10px;
    }
    .footerLogo{
      width: 50px;
      height: 50px;
      }
    li{
      margin-bottom: 7.5px;
    }
  }
}
.socialsLink{
  justify-content: center;
  .sImage{
  width: 25px;
  height: 25px;
  }
}
/* BANNER */
}
.bannerContainer{
  margin-top: 60px;
  height:190.0px ;
  overflow: hidden;
  position: relative;
}
.banner{
  width: 100%;
  position: relative;
  top: 10px;
    
    
}   
.scroll-view-repost{
  padding-top: 130px;
}
/* ABOUT */
.about{
  .aboutContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    h1{
      font-size: 20px;
      
    }
    h2{
      font-size: 16px;
      color:rgb(69, 69, 69)
    }
    p{
      font-size: 13px;
    }
  }
}
/* END */
/* LOGIN PAGE */
.LoginBox{
  padding-top: 0px;
  margin-top: 10px;
  
  .formArrange{
    row-gap: 18px;
    min-width: 200px;
    h1{
      font-size: 16px;
      }
    fieldset{
      
      input{
        width: auto;
        min-width: 200px;
        margin-top:5px;
        margin-bottom:5px;
      }
      p{
        font-size: 12px;
        margin-bottom: 15px;
      }
      button{
        width: 170px;
      }
    }
  }
}
/* END */

/* CONTACT US PAGE */
.contactContent{
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  
  .contactForm{
    margin-left: 45px;
    margin-right: 45px;
    width: auto;
    padding: 10px;
   
    h1{
      font-size: 15px;
      margin: 0;
    }
    p{
      font-size: 12px;
      margin: 0;
    }
    label{
      font-size: 12px;
    }
    input{
        width: 300px;
        margin-bottom:5px;
       
      }
      .TA{ 
        min-width: 300px;
        max-width: 310px;
        min-height: 100px;
        max-height: 200px;
        padding: 10px;
      }
      button{
        width: 120px;
        
      }
      
  }
}
/* END */

/* ORDER SECTION */
.ordered-item-box{
  
}
.checkout-btn{

  padding: 10px;
  font-size: 19px;
  p{
    color: rgb(188, 188, 188);
    margin: 0;
    font-size: 18px;
  }
  a{
    color: rgb(188, 188, 188);
    text-decoration: none;
  }
}
.coupon-btn{
 
  margin-top: 5px;
  padding: 5px;
  padding-right: 10px;
  /* font-size: 17px; */
  input{
    width: 60%;
  }
  input::placeholder{
    color: rgb(200, 200, 200);
    font-size: 14px;
  }
  p{
    color: rgb(188, 188, 188);
    margin: 0;
    font-size: 14px;
  }
  a{
    color: rgb(188, 188, 188);
    text-decoration: none;
    font-size: 14px;
  }

}

.directionCard{
  
  width: 300px;
  padding: 10px;
.locationRow{
  column-gap: 5px;
  
  img{
    width: 20px;
    height: 20px;
  }
  h1{
    font-size: 19px;
  }
  h3{
    font-size: 15px;  
  }
}
h2{
  font-size: 15px;
}
p{
  font-size: 14px;
}
.BMbutton{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}
a{
  font-size: 14px;
}
}
} 



@media screen and (max-width:409px){
  .card{
    height:190px;
    width: 154px;
  }
    
}